.container{
     min-height: 100vh;
     /* background: url('../../assets/download\ \(2\).jpeg') no-repeat center/cover; */
}
.container, button[type="submit"]{
   display: flex;
    margin: auto;   
    align-items: center;
    justify-content: center;
}
form{  
     
    padding: 3%;   
    width: 300px;
    border-radius: 6px;
    border: 1px solid black
}

.container h2{    text-align: center;
    font-size: 24px;
    color: #2546EA;
}
#login-head{
    text-decoration: underline;
    
}
.l1{
    margin: 10px 0px;
}
.l1 label{
   font-size: 20px;
    text-transform: capitalize;
}
.l1 input{
    box-shadow: 0px 3px 10px #ccc;
    margin: 10px 0px;
    width: 100%;
    height: 28px;
    padding: 6px 4px;
    border-radius: 4px;
    border: none;
    /* border: 1px solid #ccc; */
    outline-color:2546EA ;
    font-size: 16px;
}
button[type="submit"]{
    width: 95%;
    height: 40px;
    font-size: 19px;
    margin-top: 30px;
    padding: 15px 0px;
    background: #2543ea;
    border: none;
    color: white;
    border-radius: 6px;
    
}
.p-option{
    margin-top: 15px;
    text-align: center;
}
.p-option a{
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    color: #2543ea;
}
